# Exploratory Data Analysis

In this notebook we will analyse the data of Washington, Texas and Florida, regarding three source of information,